<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand"><img src="/assets/images/audiofiler.png" height="50" alt="AudioFiler"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/members">My Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
                <input class="form-control mr-sm-2" name="search" placeholder="Search by Artist" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" id="searchBtn" type="submit">Search</button>
            </form>

        </div>
    </nav>

    <div class="row">
        <div class="col-lg-12" id="home-header">
            <h1 class="home">My Collection</h1>
            {{!-- this will search for keywords in your collection --}}
            <div class="input-group mb-3" id="collectionsearch">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Search submit"
                    aria-describedby="button-addon1">
            </div>
        </div>
    </div>

    <div class="collection-container">
        {{#each albums}}
        <section id="cover">
            <img src="{{albumArt}}" alt="Album Art" class="albumArtCol">
            <h2>{{artist}}</h2>
            <h4>{{albumName}}</h4>
            <h6>{{releaseYear}}</h6>
            <h6>{{genre}}</h6>
            {{!-- don't know how to connect these to db yet --}}
            <h6>{{condition}}</h6>
            <h6>{{MediaType}}</h6>
            <p>{{notes}}</p>
        </section>
        {{/each}}
    </div>

</div>