{{!--
add header x
add search bar x
add collection x 
add dropdown for sorting collection x
organize grid for album art, album info, and extra info
add footer
--}}
<div class="container">
    <div class="row">
        <div class="col-lg-12" id="home-header">
            <h1 class="home">Record Collector</h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-dark" type="button" id="button-addon1">Search by Artist</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Search submit"
                    aria-describedby="button-addon1">
            </div>
        </div>
    </div>
    <div class="collection-container">
        {{#each coverArt}}
        <section id="cover">
            <img src="{{this.albumArt}}" alt="Album Art" class="albumArt">
        </section>
        {{/each}}

        <section id="generalInfo">
            <ul>
                {{#each info}}
                <li>
                    
                    <p><span class="label">Artist:</span> {{this.artist}}</p>
                    <p><span class="label">Album:</span> {{this.albumName}}</p>
                    <p><span class="label">Genre:</span> {{this.genre}}</p>
                    <p><span class="label">Year:</span> {{this.releaseYear}}</p>

                </li>
                {{/each}}
            </ul>
        </section>

        <section id="moreInfo">
            {{!-- condition, price and additional notes go here --}}
            <ul>
                {{#each moreInfo}}
                <li>
                    {{!-- change to dropdown menu --}}
                    <p><span class="label">Media Type:</span> {{this.media}}</p>
                    <p><span class="label">Condition:</span> {{this.condition}}</p>
                    {{!-- change to a check box or icon --}}
                    <p><span class="label">Favorite:</span> {{this.favorite}}</p>
                    <p><span class="label">Notes:</span> {{this.notes}}</p>

                    <button data-id="{{this.id}}" class="delalbum">Delete</button>

                </li>
                {{/each}}
            </ul>
        </section>
    </div>
</div>