{{!-- search bar
on search bring up a list of albums with art, album name, release year
on click album art 
dropdown menus for search parameters
search button
create link to route to this page if collection is empty --}}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand"><img src="/assets/images/audiofiler.png" height="50" alt="AudioFiler"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/members">My Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
                <input class="form-control mr-sm-2" name="search" placeholder="Search by Artist" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>

    <div class="row">
        <div class="col-lg-12" id="home-header">
            <h1 class="home">Search Results</h1>
            {{!-- this will search for keywords in your collection --}}
            <div class="input-group mb-3" id="collectionsearch">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Search submit"
                    aria-describedby="button-addon1">
            </div>
        </div>
    </div>

    <div class="collection-container ">
        {{#each albums}}
        <div class="row">
            {{!-- album art --}}
            <div class="col-md-4">
                <img style="width: 100%;" src="{{albumArt}}" alt="Album Art" class="albumArt">
            </div>
            {{!-- info --}}
            <div class="col-md-8">
                <form class="form- my-2 my-lg-0 albumSub">
                    <textarea class="form-control" readonly name="artist" rows="1">{{artist}}</textarea>
                    <textarea class="form-control" readonly name="album" rows="1">{{albumName}}</textarea>
                    <textarea class="form-control" readonly name="albumArt" rows="1">{{albumArt}}</textarea>
                    <textarea class="form-control" readonly name="year" rows="1">{{releaseYear}}</textarea>
                    <textarea class="form-control" readonly name="genre" rows="1">{{genre}}</textarea>

                    <textarea class="form-control" name="notes" placeholder="notes" rows="2"></textarea>

                    {{!-- dropdown menu for condition --}}
                    <label for="conditionSelect">Condition</label>
                    <select class="form-control" name="condition" id="{{albumName}}-conditionSelect">
                        <option class="condition" name="condition">Mint</option>
                        <option class="condition" name="condition">Near Mint</option>
                        <option class="condition" name="condition">Very Good</option>
                        <option class="condition" name="condition">Fair</option>
                        <option class="condition" name="condition">Poor</option>
                    </select>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="CD" type="checkbox" id="{{albumName}}-check1" value="true">
                        <label class="form-check-label" for="{{albumName}}-check1">CD</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="Cassette" type="checkbox" id="{{albumName}}-tapeCheck" value="true">
                        <label class="form-check-label" for="{{albumName}}-tapeCheck">Cassette</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="vinylSeven" type="checkbox" id="{{albumName}}-7vinylCheck" value="true">
                        <label class="form-check-label" for="{{albumName}}-7vinylCheck">7" Vinyl</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="vinylTwelve" type="checkbox" id="{{albumName}}-12vinylCheck" value="true">
                        <label class="form-check-label" for="{{albumName}}-12vinylCheck">12" Vinyl</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="eightTrack" type="checkbox" id="{{albumName}}-8trackCheck" value="true">
                        <label class="form-check-label" for="{{albumName}}-8trackCheck">8-track</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="Digital" type="checkbox" id="{{albumName}}-digitalheck" value="true">
                        <label class="form-check-label" for="{{albumName}}-digitalheck">Digital</label>
                    </div>
                    <br>
                    

                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add</button>
                </form>

            </div>
        </div>

        {{/each}}
    </div>

</div>
<script>
    $(".albumSub").on("submit", function (event) {
        event.preventDefault();
        console.log($(this).serialize())

        let elems = $(this).serialize()
        $.post("api/albums", elems)
        {{!-- change add button text to added and disable it --}}
    })
</script>